@{
    var TextNothingFound = "Nothing Found...";
    var TextTryOtherThing = "Try another thing?";

    var TextSearchTitle = "Search result of ";
}

@model List<CardModel>;
@{
    ViewBag.Title = TextSearchTitle + ViewBag.Keyword;
    ViewBag.Full = 0;
}

<h1>@TextSearchTitle"@ViewBag.Keyword"</h1>

<hr />

@{
    if (ViewBag.Page == 0)
    {
        <p>
            <b>
                @TextNothingFound
            </b>
        </p>
        <p>
            @TextTryOtherThing
        </p>
    }
}

@{
    foreach (var card in Model)
    {
        @await Html.PartialAsync("_Card", card);
        <br />
    }
}

@{
    string PrevClass = ViewBag.Page == 1 || ViewBag.Page == 0 ? "page-item disabled" : "page-item";
    string NextClass = ViewBag.Page >= ViewBag.MaxPage ? "page-item disabled" : "page-item";
    int PrevPage = ViewBag.Page - 1 <= 0 ? 1 : ViewBag.Page - 1;
    int NextPage = ViewBag.Page + 1 > ViewBag.MaxPage ? ViewBag.MaxPage : ViewBag.Page + 1;
}

@section PageNav
{
    @{/* page nav section */}
    <div class="row" id="PageNav">
        <div class="col-lg-6 offset-lg-3 d-flex">
            <ul class="pagination mx-auto">
                <li class="@PrevClass" id="PrevPage">
                    <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-page="@PrevPage">
                        <
                    </a>
                </li>
                <li class="page-item disabled">
                    <p class="page-link"> - </p>
                </li>
                <li class="page-item disabled">
                    <b class="text-center page-link">@ViewBag.Page</b>
                </li>
                <li class="page-item disabled">
                    <p class="page-link"> - </p>
                </li>
                <li class="@NextClass" id="NextPage">
                    <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-keyword="@ViewBag.Keyword" asp-route-page="@NextPage">
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
